body {
  font-family: roboto;
}

.container {
  height: 100vh;
}

/* Header section */
.header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 25px;
}

.logo {
  font-size: 24px;
}
.logo a {
  color: #F9FAF8;
}

.right-links {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.right-links a {
  color: #E5E7EB;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Hero section */

.hero {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #1F2937;
  
}

.left {
  width: 50%;
  padding-right: 20px;
}

.left h1 {
  font-size: 48px;
  font-weight: 800;
  padding-right: 20px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 100%;
  height: 100%;
  background-color: gray;
} 

button {
  background-color: #3882F6;
  padding: 8px 40px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

/* Information section */
.information {
  background-color: #F9FAF8;
  padding: 30px;
}

.information img {
  height: 150px;
  width: 150px;
  background-color: #F9FAF8;
  border: 2px solid;
  border-radius: 10px;
  border-color: #3882F6;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.box {
  max-width: 150px;
}
